  <div class="white" id="board-page"  data-role='page' data-id='<%- board.id %>' data-currid='<%=req.user.id%>'>
    <div class="container">
      <img src="/images/snakesladders.jpg" id='ladder-image'  class='ladder-image' alt=""/>
      <div id='tables-container' class="ladder-image"></div>
    </div>
    <div id="players_icons_target">
      
    </div>
    <div  id='score-board' class='black-container score-board transition'> 
      <div class="row">
        <div class="large-4 medium-3 small-10 large-uncentered medium-uncentered small-centered columns">
          <h1><%- board.name %></h1> 
          <div id='join' class='button button-th'>Join</div>
          <div id='dice' class='disabled button button-th'>Roll Dice: <span id='number'>0</span></div>


        </div>
        <div class="large-7 medium-8 small-10 large-uncentered medium-uncentered small-centered columns">
          <ul id="players_target" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% _.each(board.players, function (player) { %>
            <li class='center' data-user-id='<%= player.id%>'>
              <img src="<%= player.gravatarImage()%>" class="profile-img" width="50">
              <h3 class='white center'><%= player.name %></h3>  
            </li>

            <% }) %>
          </ul>
        </div>


      </div>
    </div>

    <div id="show-button" class='center-horizontal transition'>
      <div class="absolute center-both">
        ^
      </div>
    </div>

  </div>
<script >
    var triggerRoom = function(){
      io.socket.post('/joinGameRoom',{id: <%-board.id%> },function serverResponded (data, JWR) {
        console.log('Sails responded with: ', data);
         if(!data.error)
        App.core['board-page']().updatePlayersList(data);
      });
    };
    $(document).on('triggerRoom',triggerRoom);
  </script>
  <script id="players_template" type="text/x-handlebars-template">
    {{#each players}}
      <li class='center' data-user-id='{{id}}'>
              <img src="{{gravatarImage}}" class="profile-img" width="50">
              <h3 class='white center'>{{name}}</h3>  
            </li>
    {{/each}}
  </script>

   <script id="players_icons_template" type="text/x-handlebars-template">
    {{#each players}}
              <div class="circle tiny icon fixed transition" data-user-id='{{id}}'></div>
    {{/each}}
  </script>